<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit To Do</title>
    <link rel="stylesheet" href="/stylesheets/edit.css">
</head>

<body>
    <div class="container">
        <h1>Edit-Todo</h1>
        <form class="first" action="/Edit/<%= todo._id %>" method="post">
            <input id="input" name="title" value="<%=todo.title%>" required>
            <button type="submit" id="addbtn">Done</button>
        </form>
    </div>
</body>

</html>